.DS_Store
front/node_modules
/dist


# local env films
.env.local
.env.*.local

# Log films
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and films
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
